/**{*/
/*  cursor: none;*/
/*}*/

/*Custom Fonts*/
@font-face {
  font-family: Graduate;
  src: url("./assets/font/Graduate-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family:Crafty;
  src: url("./assets/font/CraftyGirls-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Bubblegum;
    src: url("./assets/font/BubblegumSans-Regular.ttf");
    font-weight: 400;
}

@font-face {
  font-family: Truculenta;
  src: url("./assets/font/Truculenta-Regular.ttf");
  font-weight: 400;
}

/*Default CSS*/

/*Setting all the elements on the top for the default*/
*{
  margin:0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body{
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: mistyrose !important;
  color: rebeccapurple !important;
}

body h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: Truculenta, sans-serif;
}



input:placeholder-shown, textarea:placeholder-shown {
  font-family: Truculenta, sans-serif;
}

/*Navbar CSS*/
nav.navbar {
  padding: 1rem 0;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
  background-color: mistyrose;
}

nav.navbar.scrolled {
  padding: 0;
  background-color: rgba(255, 228, 225, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}


.navbar-text {
  display: inline-flex;
  align-items: center;
}

.navbar-icon {
  width:2rem;
  height:2rem;
}

.social-icons {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.social-icons .nav-link {
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.social-icon-img {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2.5rem;
  display: block;
  text-align: center;
  line-height: 2.5rem;
}

.social-icons .nav-link:hover img,
.social-icons .nav-link:hover svg,
.social-icons .nav-link:hover i {
  scale: 1.2;
  animation-name : jump;
  animation-iteration-count : infinite;
  animation-direction : alternate;
  animation-duration : 0.5s;
}
/*make it jump!*/
@keyframes jump {
  from {transform: translateY(0px);}
  to {transform: translateY(-20px);}
}



.contact-btn{
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.contact-btn .nav-item {
  width: 180px;
}

/*Banner CSS*/
.banner {
  height: 25rem;
  background-image: url("./assets/img/banner_backgroud_1.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #FBF5DD;
  display: flex;
  align-items: center;
}

.banner .row {
  width: 100%;
  height: 100%;
  margin: 0;
  justify-content: flex-start;
  gap: 0;
}

.banner .row > .col {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  width: 50%;
  padding: 0 2rem;
}

.banner h1{
  font-family: Crafty, serif;
  font-size: clamp(20px, 4vw, 35px);
}

.intro-box {
  text-align: center;
  padding: 0 1rem 0 0;
}

.intro-msg {
  font-size: clamp(18px, 3.5vw, 32px);
  padding-right: clamp(5%, 20%, 20%);
}

@media (max-width: 1400px) {
  .banner h1 {
    font-size: clamp(18px, 3.5vw, 30px);
  }
  .intro-msg {
    font-size: clamp(16px, 3vw, 28px);
  }
}

@media (max-width: 1200px) {
  .banner h1 {
    font-size: clamp(16px, 3vw, 26px);
  }
  .intro-msg {
    font-size: clamp(14px, 2.5vw, 24px);
  }
  .intro-box {
    padding: clamp(1.5rem, 4vw, 3rem) 1rem 0 0;
  }
}

@media (max-width: 1100px) {
  .banner{
   display: none;
  }
  .intro-box {
    display: none;
  }
}



.ferris-wheel-intro {
  top: 40%;
  left: 80%;
  height: 40%;
  width: 50%;
  position: fixed;
  overflow: hidden;
  rotate: 90deg;
  z-index: 0;
}

.intro-img {
  height: auto;
  width: auto;
  max-height: 100px;
  max-width: 100px;
  opacity: 50%;
  /*rotate: 90deg;*/
}

/*Skills CSS*/
.skills{
  background-color: transparent;
  padding: 50px 0 50px 0;
  position: relative;

}

.skill_image {
  width: 3rem;
}


.skills-slide {
  background-color: rosybrown;
  border-radius: 10rem;
  padding: 1rem;
  margin: 1rem;

}

.skills-slide h4{
  color: white;
  padding: 1rem;
}

.skill-item {
  display: flex;
  justify-content: center;

}

/*projects css*/
.project{
  padding: 50px 0 50px 0;
  position: relative;
}


#tab-button .btn.active {
  background-color: #023e8a;

}

#tab-button .btn:hover {
  background-color: midnightblue;

}

.proj-imgbox {
  border-radius: 2rem;
  background-color: #023e8a;
  padding: 1rem 1rem;
  margin: 1rem;
}

.proj-imgbox:hover {
  background-color: midnightblue;
  transform: scale(1.1);
  transition: 0.5s;
}

.proj-imgbox a {
  text-decoration: none;
}

.proj-imgbox h4, .proj-imgbox span {
  color: #e9edc9;
}


.tab-box {
  width: 100px;
}



/*Cursor*/
.circle {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
