/**{*/
/*  cursor: none;*/
/*}*/



/*Custom Fonts*/
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

/*Default CSS*/

/*Setting all the elements on the top for the default*/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body{
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: mistyrose !important;
  color: rebeccapurple !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

/*Navbar CSS*/
nav.navbar {
  padding: 18px 0;
  position: sticky;
  width: 100%;
  top: 0;
  /*Want this nav bar always be visible*/
  z-index: 9999;
  transition: ease-in-out;
  background-color: mistyrose;
}


nav.navbar.scrolled {
  padding: 0;
  background-color: #121212;
}

nav.navbar .navbar-nav .nav-link .navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0.25px;
  font-size: 18px;
  opacity: 0.75;
}

.navbar-text {
  display: inline-flex;
}

.navbar-icon {
  width:50px;
  height:50px;
}

.social-icon {
  display: inline-flex;
  margin-left: 14px;
}

.social-icon a {
  width: 50px;
  height: 100%;
  display: inline-flex;
  padding: 5px;
  /*justify-content: center;*/
  /*align-content: center;*/
}

.social-icon a:hover::before{
  transform: scale(10);
}

.social-icon a img {
  width:100%;

}


.social-icon a:hover img {
  /*filter: brightness(0) saturate(100%) invert(50%) sepia(7%) saturate(98%) hue-rotate(346deg);*/
  scale: 1.2;
  animation-name : jump;
  animation-iteration-count : infinite;
  animation-direction : alternate;
  animation-duration : 0.5s;

}
/*make it jump!*/
@keyframes jump {
  from {transform: translateY(0px);}
  to {transform: translateY(-20px);}
}

.contact-btn{
  margin-left: 50px;
  width: 180px;
}

/*Banner CSS*/
.banner {
  padding: 260px 0 100px 0;
  background-image: url("./assets/img/banner_background.svg");
  background-position: top center;
  background-size: cover;

}

，banner h1{
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

.ferris-wheel-intro {
  top: 40%;
  left: 80%;
  height: 40%;
  width: 40%;
  position: fixed;
  overflow: hidden;
  rotate: 90deg;
  z-index: 0;
}

.intro-img {
  display: block;
  height: auto;
  width: auto;
  max-height: 100px;
  max-width: 100px;
  /*rotate: 90deg;*/
}

/*.tech_icon {*/
/*  display: block;*/
/*  height: auto;*/
/*  width: auto;*/
/*  max-width: 100px;*/
/*  max-height: 100px;*/
/*}*/

/*Skills CSS*/
.skills{
  background-color: transparent;
  padding: 100px 0 100px 0;

}

.skill_image{
    display: block;
    height: auto;
    width: auto;
    max-width: 80px;
    max-height: 80px;
    margin: 20px;
}

.skills-slide {
  background-color: rosybrown;
  border-radius: 100px;

}

.skills-slide h5{
  color: white;
  margin-bottom: 20px;
}

/*projects css*/
.project{
  position: relative;
  padding: 100px 0 100px 0;;
}

.proj-imgbox {
  border-radius: 40px;
  background-color: #023e8a;
  padding: 2rem 0;
  border: 10px solid mistyrose;
  z-index: 10;
}

.proj-tx h4, .proj-tx span {
  color: #e9edc9;
}

.proj-tx a {
  color: #e9edc9;
}

.tab-box {
  width: 100px;
}

/*contact me css*/
.contact h2{
  color: #bc4749;
}

.contact input, textarea {
  border-radius: 10px;
}

.contactForm {
  position: relative;
  z-index: 2;
  padding: 50px;
  border: 1px solid #e5989b;
  border-radius: 50px;
  background-color: #f6bd60;
}
/*Cursor*/
.circle {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
